<div class="instructions">
    <h1>Time to play the shiritori word game!</h1>
    <p>The next word you type must start with the last letter of the previous word. Words with 3 letters or fewer don't count towards your score.</p>
    <p>If you keep playing, you might discover that there's a trick to this game...</p>
    <p class="alert">
        <ngb-alert *ngIf="error && !gameOver" type="custom" [dismissible]="false">The word must start with {{ nextLetter }} as per the rules</ngb-alert>
        <ngb-alert *ngIf="gameOver" type="custom2" [dismissible]="false">Time is up! You got {{ points }} points!</ngb-alert>
    </p>
</div>
<div style="display: flex; flex-direction: row; margin: 10px 30px;">
    <div class="shiritori">
        <countdown #cd [config]="{leftTime: 10}" (event)=handleDone($event)></countdown>
        <input #shiritori (keyup.enter)="onEnter(shiritori.value); shiritori.value = ''; shiritori.placeholder = nextLetter;" [disabled]="gameOver">
        <p *ngFor="let word of words">{{ word }}</p>
    </div>
    <div class="points">
        <p></p>
        <h2> Points: {{ points }} </h2>
    </div>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" style = "margin-left: 100px; margin-top: 15px; height: fit-content;">
        <label ngbButtonLabel class="btn-primary">
          <a ngbButton type="radio" (click)="onRestart(); shiritori.value = ''; shiritori.placeholder = ''; cd.restart();" style="color: white">Restart</a>
        </label>
    </div>
    <div class="leaderboard" style="float: left;">
        <p></p>
        <h2>Leaderboard</h2>
        <p style="margin-left: 100px" *ngFor="let score of scores">You scored {{ score }} </p>
    </div>
</div>
<div *ngIf="gameOver" style="margin: 30px;">
    <p>If you're on this page, you might be curious. Who is Andrew Ting?</p>
    <p>Well, it's me. I'm Andrew Ting.</p>
    <p>From my Github you can obviously tell I'm a EECS major at UC Berkeley from New York City.</p>
    <p>I also like trading stocks. And even more than that... coding stock trading algorithms. If you can get over 100 points in Shiritori, I'll show you something cool...</p>
    <p *ngIf="points >= 100">https://oversold-bounce-bot.herokuapp.com/</p>
</div>

